ul#tabContents > li {
  cursor: pointer;
}

#solutions-hero-section .hero--solutions {
    background: linear-gradient(270deg,#00263e 70%,transparent 0);
}

.card-logo {
  width: 180px;
  height: 180px;
  margin: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0.75rem;
}

.card-logo img {
    position: absolute;
    filter: brightness(0) saturate(100%) invert(10%) sepia(79%) saturate(1477%) hue-rotate(178deg) brightness(97%) contrast(101%);
    opacity: .5;
}

.pic-card {
  width: 180px;
  height: 180px;
  margin: 10px;
  border-radius: 0.75rem;  
}

.pic-card img {
  border-radius: 0.75rem;
}

a.card-links:hover .card-body {
  background-color: #00263e;
  color: white;
}

.text-xl {
  font-size: 1.25rem;
}

.header-underline {
  border-bottom: 3px solid #0384fb;
  padding-bottom: 3px;
  display: inline-block;
}

.hollow-quotes {
    position: absolute;
    left: 39%;
    z-index: 2;
}

#slideCarousel {
  margin: 80px 0;
}

.bg-lines {
  position: absolute;
  left: 235px;
  z-index: -1;
  margin-top: 115px;
}

.bg-lines.even {
  transform: scaleX(-1);
  left: auto;
  right: 225px;
}

#solution-benefits a:hover {
  background-color: blue;
  color: white;
}

.icon-img {
  height: 40px;
  width: 40px;
}

.gradient-bg {
  height: 767px;
  background-image: linear-gradient(transparent, black);
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.image__play {
  left: -66.5px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 1;
  margin-top: 250px;
}

#hdvideo span {
  font-size: 16px;
}

#safety-content li {
  font-size: 13px;
  max-width: 180px;
}

#safety-content li img,
#hdvideo img,
img.small-image {
  max-width: 65px;
}

.pagination-link a.active{
  font-weight: bold;
}

.author-info {
  margin-top: -50px;
}

.author-image img{
  width: 72px;
  height: 72px;
}

.blog-card {
  height: 480px;
}

.menu-link-header {
  font-size: 20px;
  font-weight: bold;
}

.menu-border {
  border-right: 1px solid #e6e6e6;
}

.no-left-pad {
  padding-left: 0 !important;
}

.left-pad {
  padding-left: 2rem !important;
}

li.menu-list {
  list-style: none;
}

span.menu-image img {
  width: 260px;
  padding-top: 1rem;
}

span.menu-header {
  color: #979797;
  font-weight: 700;
  padding-left: 2rem;
}

#tabContents li.active,
li.custom-list a.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgba(3,132,251,1);
}
.custom-list {
  padding-bottom: 5px;
}
.custom-anchor {
  line-height: 26px;
}

.teal-underline {
  border-bottom: 1px solid #1dcad3;
  display: inline-block;
  padding-bottom: 5px;
}

.no-underline {
  text-decoration: none;
}

.teal-underline:hover {
    text-decoration: none;
    color: #1dcad3 !important;
}

.no-bullet-list {
  list-style: none;
}

.fs-48 {
  font-size: 48px;
}

.py-120 {
  padding: 120px 0;
}

.text-blue {
  color: rgba(3,132,251,1);
}

.justify-center {
  justify-content: center;
}

.small {
  font-size: .875em !important;
}

.w-400 {
  max-width: 400px;
}

.text-xl{
  font-size: 1.25rem;
}

.lg-container {
  max-width: 1080px;
  margin-left: auto;
  margin: auto;
}

.home-content {
  width: 100%;
  margin: 215px;
  padding-right: 22px;
  padding-left: 22px;
  position: absolute;
  z-index: 1;
}

.header-text h1 {
  font-size: 58px;
}

.bg-blue-lighter {
  background-color: rgba(240,246,254,1);
}

.card--simple-border {
    min-height: 150px;
    border-left: 1px solid rgba(0,38,62,.12);
    border-bottom: 0;
}

.-mx-gap {
  margin-left: -11px;
  margin-right: -11px;
}

.hero--video {
  /* height: 600px; */
}

.hero--video > div {
    /* position: absolute; */
    /* overflow: hidden; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
}

.hero--video video {
  width: 100%;
  max-width: none;
  min-height: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
}

.frame-prop {
  width: 100%;
  height: 100%;
}

.w-8\/12 {
  width: 66.66%;
}

.video-frameless {
  padding-bottom: 44.6%;
  box-shadow: 1px 0 41px 2px rgba(0,38,62,.06);
}

.video-container {
  max-width: 1200px;
  margin: 0 auto;
}

.my-tag p {
  line-height: 26px;
  font-weight: 400;
  color: #333;
  margin-bottom: 26px;
}

.bg-blue-dark {
  background-color: #00263e;
}

.py-80 {
  padding: 80px 0;
}

.custom-logo img {
  width: 151px;
}

.p-large {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

footer#custom-footer {
  font-family: Roboto,sans-serif;
  position: relative;
  padding: 80px 0;
}

footer#custom-footer .list-flat a {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

footer#custom-footer .title a {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 1em;

}

footer#custom-footer .list-flat a,
footer#custom-footer .title a {
  text-decoration: none;
  color: #fff;
}

footer#custom-footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer#custom-footer li {
  margin-bottom: 12px !important;

}

footer#custom-footer .web-terms li {
  display: inline;
}

footer#custom-footer .lang-select {
  width: 216px;
  padding: 15px;
  border: 1px solid #b2bec5;
}

footer#custom-footer .lang-select img {
    height: 23px;
    width: 23px;
}

footer#custom-footer .select-region {
  color: #fff;
  background: url(https://www.samsara.com/app/images/white-dropdown-arrow.png);
  background-size: 38px;
  background-position: 100%;
  background-repeat: no-repeat;
  margin-left: 10px;
  padding-right: 0;
  line-height: 22px;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  opacity: .9;
  border: 0;
  appearance: none;
  cursor: pointer;
  padding: 0 12px 0 0;
  border-radius: 0;
}

footer#custom-footer .copyright {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  margin: 20px 0;
  text-align: left;
}

footer#custom-footer .copyright img{
  width: 22px;
  height: 22px;
  margin-left: 40px;
  margin-right: 0;
}

footer#custom-footer .under-footer {
  border-top: 1px solid #4c5e64;
  padding-top: 20px;
}
